
hw/a720/hw2/__pycache__/interpolation.cpython-37.pyc
hw/a720/hw2/__pycache__/matrix.cpython-37.pyc
hw/a720/hw2/__pycache__/numcalc.cpython-37.pyc
hw/a720/hw3/__pycache__/diffeq.cpython-37.pyc
hw/a720/hw4/__pycache__/cluster_dynamics.cpython-37.pyc
